! Configuration File for keepalived

global_defs {
   notification_email {
   }
   router_id LVS_DEVEL
   vrrp_skip_check_adv_addr
   vrrp_garp_interval 0
   vrrp_gna_interval 0

   script_user root
   enable_script_security
}

#指定mysql服务检测脚本
vrrp_script chk_mysql {
    script "/etc/keepalived/chk_mysql.sh" #脚本路径
    interval 2 #脚本检测频率
    weight -5 #脚本执行返回值 =0 ，优先级不变。 !=0 时优先级 -5
    fall 2 #如果连续两次检测失败，认为节点服务不可用
    rise 1 #如果连续2次检查成功则认为节点正常
}

#监测mysql 是否是master
vrrp_script chk_mysql_master {
    script "/etc/keepalived/chk_mysql_master.sh"
    interval 2
    weight 20 #脚本执行返回值 =0 ，优先级加 20。 !=0 时优先级不变。
}

vrrp_instance vip_{{ KEEPALIVED_VRID }} {

  interface {{ KEEPALIVED_INTERFACE }}
  state {{ STATE }}
  virtual_router_id {{ KEEPALIVED_VRID }}
  mcast_src_ip {{ ansible_ssh_host }}
  priority {{ KEEPALIVED_PRIORITY }}
  advert_int 1

  virtual_ipaddress {
    {{ KEEPALIVED_VIP }}/24
  }

  authentication {
    auth_type PASS
    auth_pass 1111
  }

  track_script {
    chk_mysql
    chk_mysql_master
  }

  notify_master "/etc/keepalived/start_server.sh"
  notify_backup "/etc/keepalived/stop_server.sh"
}

